DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.uszndcyjpzizqihazrqi.supabase.co:5432/postgres"
SUPABASE_URL="https://uszndcyjpzizqihazrqi.supabase.co"
SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
PORT=5000
